/* Add your custom theme overrides here */

@-ms-viewport       { width: device-width; }


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.menu-large {
  position: static !important;
  list-style: outside none none;
  padding: 10px 15px;
  text-decoration:none;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
	position: relative;
    display: block;
    padding: 10px 15px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
}

.headertitle {
  font-weight: 600;
  margin-top: 10.3em;
  margin-left: 56px;
}

.headertitle a {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.3em;
  }

.headersubtitle {
  font-weight: 400;
  margin-top: -.2em;
  margin-left: 60px;
}

.headersubtitle a {
  color: #666;
  width: 100%;
  text-decoration: none;
}

/*wikiEvolved! custom styles*/
.btn, .btn a {
    -moz-user-select: none;
    color: #FFF;
}
.hadron .dropdown a,
.hadron .dropdown-menu  a {
  color:#4D4D4D;
}
.hadron .dropdown-menu > li > a {
  padding:6px 15px;
}
.hadron .navbar-nav > li > .dropdown-menu {
  margin-top:1px;
}
.hadron i {
  color:#BFBFBF
}
.hadron .dropdown-menu {
  box-shadow:none; 
  border:1px solid #efefef;
  padding:0;
}
.hadron .form-control {
  margin-top:10px;
  border:1px solid #efefef;
}
.hadron .btn {
  margin:10px 0 20px
}
.hadron video {
  max-width: 100%;
  height: auto;
}
.hadron iframe,
.hadron embed,
.hadron object {
  max-width: 100%;
}
.hadron .google-map {
  width:100%; 
  border:1px solid rgba(255, 255, 255, 0.5);
  min-height:200px;
}
.hadron div.google-map {
  background:rgba(255, 255, 255, 0.5);
  background: #ffffff;
  height: 200px;
  margin: 0 0 0px 0;
  width: 100%;
} 
#googlemaps img{
    max-width:none;
}
.hadron .dropdown-menu .withoutdesc{    
    margin-top:0;
    padding:15px 20px;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.hadron a:hover {
  text-decoration:none
}
.hadron .dropdown-menu .withoutdesc ul li {
  padding:3px 10px;
}
.hadron .dropdown-menu .withoutdesc ul li:hover,
.hadron .dropdown-menu .withoutdesc ul li:focus{
  color:#262626;
  text-decoration:none;
  background-color:#f5f5f5 !important
}
.hadron .dropdown-menu .withoutdesc li:last-child {
  border-bottom:0 solid #fff;
}
.hadron .hadron-content.withdesc a:after {
    color: #CFCFCF;
    content: attr(data-description);
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 0;
    margin: 10px 0 15px;
    text-transform: uppercase;
}

.hadron .dropdown-submenu{
  position:relative;
}
.hadron .dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:0;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.hadron .dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.hadron .dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.hadron .dropdown-submenu:hover>a:after{
  border-left-color:#ffffff;
}
.hadron .dropdown-submenu.pull-left{
  float:none;
}
.hadron .dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.hadron p {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#656565;
    margin: 15px 0 10px -5px;
}
.hadron .nav,
.hadron .collapse,
.hadron .dropup,
.hadron .dropdown {
  position: static;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
.hadron .half {
    width: 50%;
    left: auto !important;
    right: auto !important;
}
.hadron .container {
  position: relative;
}
.hadron .dropdown-menu {
  left: auto;
}
.hadron .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.hadron .hadron-content {
  padding: 15px 25px;
}
.hadron .dropdown.hadron-fw .dropdown-menu {
    left: 0px;
    right: 30%;
    top: 47px;
    background: none repeat scroll 0% 0% #FFFFFF;
    width: 100%;
    border-width: 1px;
   -moz-border-top-colors: none;
   -moz-border-right-colors: none;
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   border-style: dotted;
   border-color: #555;
   box-sizing: border-box;  
}
.hadron .title {
  font-size:13px;
  font-weight:bold;
  margin-top:15px;
  text-transform:uppercase;
  border-bottom:1px solid #efefef;
  padding-bottom:10px;
  color:#333;
  margin-left: -15px;
  padding-left: 15px;

}
.hadron ul {
  list-style:none;
  padding-left:0px;
}

.hadron li:hover > a, .hadron li.current > a {
    box-shadow: inset 0 -2px 0 0 #337ab7;
}
.hadron form fieldset {
  display: block; 
  padding: 25px 30px;
}
.hadron form fieldset + fieldset {
  border-top: 1px solid rgba(0,0,0,.1);
}
.hadron form section {
  margin-bottom: 20px;
}
.hadron form .input,
.hadron form .textarea,
.hadron form .radio,
.hadron form .checkbox,
.hadron form .button {
  position: relative;
  display: block;
}
.hadron form .input input,
.hadron form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 8px 10px;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  background: #fff;
  font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
.hadron form .textarea textarea {
  height: auto;
  resize: none;
}
.hadron form .button {
  float: right;
  height: 39px;
  overflow: hidden;
  margin-left: 20px;
  padding: 0 20px;
  outline: none;
  border: 0;
  background-color: #2da5da;
  font: 300 13px/39px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
.hadron form .fa-append {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 29px;
  height: 29px;
  padding-left: 3px;
  border-left: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ccc;
}
.hadron form .input .fa-append + input,
.hadron form .textarea .fa-append + textarea {
  padding-right: 46px;
}
.hadron form .row {
  margin: 0 -15px;
}
.hadron form .row:after {
  content: '';
  display: table;
  clear: both;
}
.hadron form .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.hadron form .col-6 {
  width: 50%;
}
.hadron form .input:hover input,
.hadron form .textarea:hover textarea,
.hadron form .checkbox:hover i {
  border-color: #8dc9e5;
}
.hadron form .button:hover {
  opacity: 1;
}
.hadron form .input input:focus,
.hadron form .textarea textarea:focus,
.hadron form .checkbox input:focus + i {
  border-color: #2da5da;
}
.hadron .search {
  border-left: 0;
}
.hadron .search .input {
  margin: 3px 3px 3px 3px;
}
.hadron .search .input input {
  width: 300px;
  padding-right: 65px;
}
.hadron .search .button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.hadron .right {
    float: right;
    border-right-width: 0px;
    border-left-width: 1px;
}
.suggestions{
   overflow:hidden;
   position:absolute;
   top:0;
   left:0;
   width:0;
   border:none;
   z-index:1099;
   padding:0;
   margin:-1px 0 0 0;
   right: 138px!important;
}
.title-header {
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    border-bottom: 4px solid #C9302C;
}
.box-title {border-bottom:1px solid #2DA5DA;}
.right-50 {margin-right:50px;}

.tick {color:#83A947}

.home-panel {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #E5E5E5 #D9D9D9 #CCC;
    box-sizing: border-box;
    min-height: 300px;
    cursor: pointer;
    margin-bottom:20px;
}
.home-panel-danger {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #C9302C;
    box-sizing: border-box;
    min-height: 300px;
    cursor: pointer;
    margin-bottom:20px;
}
.home-panel-primary {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #4C66A4;
    box-sizing: border-box;
    min-height: 300px;
    cursor: pointer;
    margin-bottom:20px;
}
.home-panel-success {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #449D44;
    box-sizing: border-box;
    min-height: 300px;
    cursor: pointer;
    margin-bottom:20px;
}
.side-panel {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #E5E5E5 #D9D9D9 #CCC;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom:20px;
}
.body-panel {
    background: none repeat scroll 0% 0% #FFF;
    padding: 30px 16px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #E5E5E5 #D9D9D9 #CCC;
    box-sizing: border-box;
    margin-bottom:20px;
}
.home-image {
   height:250px;
   width:250px;
}
.fa-huge {
    font-size: 140px;/*super sized font awesome icon*/
}
.fa-stack-3x {
    position: absolute;
    font-size: 46px !important;/*custom font awesome size for home page geo marker*/
    top: 33%;
    left: 51%;
    position: absolute;
    font-size: 40px !important;
}
.indie-font {
    font-family: "Indie Flower",cursive;
    font-size: 26px;
    line-height: 1.25;
    color: #697060;
    width: 100%;
}
.indie-font-small {
    font-family: "Indie Flower",cursive;
    font-size: 18px;
    line-height: 1.25;
    color: #697060;
    width: 100%;
}
.home-bullets {
   font-size:40px;
}
.red {color:#D73D32;}
.blue {color:#337AB7;}
.white {color:#FFFFF3}
.push-top {margin-top:10px;}
.push-bottom {margin-bottom:10px;}
.padding-ten {padding:10px;}
.btn a:link {color: #FFF !important;}

/*Glyphicon documentation classes*/

.bs-glyphicons {
    margin-right: 0px;
    margin-left: 0px;
}
.bs-glyphicons {
    margin: 0px -10px 20px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0px;
    list-style: outside none none;
}
.bs-glyphicons li {
    width: 12.5%;
    font-size: 12px;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    background-color: #F9F9F9;
    border: 1px solid #FFF;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}
/*Font Awesome muted hack*/

.muted {display:none;}


/* Customized Section */
/* Customized Section */
/* Customized Section */

/* MW CONTENT */

.mw-content-ltr p {
  margin: 0;
  
}

/* NEWS */

.news {
  margin-right: -45px;
}

.news p {
  margin: 0 15px 0 45px;
}

.news h3 {
  border-bottom: 1px dotted #555;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 10px 14px;
  margin-left: 30px;
}

.news .thumbinner {
  padding: 5px 0 5px 15px;
  margin-left: 0px;
  margin: 0 30px 0 0;
}

/* SPALTE RECHTS */

.column-right {
  margin-right: 30px;
}
.column-right p {
  margin: 0 15px 0 45px;
}

.column-right h3 {
  border-bottom: 1px dotted #555;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 10px 14px;
  margin-left: 30px;
}

/* ROW */

.row {
  margin-left: 15px;
  margin-right: 45px;
}

/* THUMBINNER */

.thumbinner {
  margin-left: 15px;
  margin-bottom: 15px;
}



