

/* Customized Section */
/* Customized Section */
/* Customized Section */


/* BE NEWS STARTSEITE */
/*

.be-news-startseite .thumbinner {
  padding: 5px 0 5px 15px;
  margin: 0 15px 0 0;
}

/* EXTERNE NEWS STARTSEITE */
/*


.externe-news-startseite .thumbinner {
  padding: 5px 0 5px 15px;
  margin: 0 15px 0 0;
}

/* ALLE NEWS */
/*

.alle-news {
  margin: 0 0 0 0;
  padding: 0 30px 0 30px;
}

.alle-news p {
  margin: 0 0 0 0;
}

.alle-news h1 {
  border-bottom: 1px dotted #555;
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 10px 15px;
  margin: 25px -15px 10px -15px;
}

.alle-news h2 {
  border-bottom: 1px dotted #555;
  font-size: 18px;
  font-weight: 800;
  color: #555;
  padding: 0 0 10px 15px;
  margin: 45px -15px 10px -15px;
}

.alle-news h2:first-child {
  margin: 15px -15px 10px -15px;
}

.alle-news .thumbinner {
  padding: 0 0 5px 15px;
  margin: 0 15px 0 0;
}

/* IMAGES */
/*

.thumbinner {
  margin: 4px 30px 0 15px;
}

.floatright {
  margin: 0px 30px 0 15px;
}

.thumbcaption {
  line-height: 1;
  font-size: 10px;
  margin-top: 10px;
}


/* CATLINKS */
/*

.catlinks {
  margin: 0 15px 0 15px;
}

.quiz {
  margin: 5px;
}

/* ACCORDION */
/*

#accordion-col {
  padding: 0;
  left: -15px;
}


/* BS-Zeitplan */
/*
.bs-zeitplan {
  margin-left: 30px;
}

.bs-zeitplan h2 {
  font-size: 13px;
  margin-left: -25px;
  font-weight: 800;
  margin-top: 60px;
  position: absolute;
  text-align: right;
  width: 45px;
}

.bs-zeitplan h2:first-child {
  margin-top: 25px;
}

.bs-zeitplan h3 {
  font-size: 13px;
  font-weight: 800;
  margin: 15px 0 5px 0;
  padding: 0 30px 0 30px;
  min-width: 76%;
}

.bs-zeitplan h2 + h3 {
  margin-top: 45px;
}

.bs-zeitplan p {
  padding: 0 30px 0 40px;
}

.bs-zeitplan > ul {
  margin: 0 30px 10px 60px;
}

.bs-zeitplan > ul > li > ul {
  margin: 5px 30px 4px 30px;
}

.bs-zeitplan > ol {
  margin: 0 30px 10px 60px;
}

.bs-zeitplan > ol > li > ol {
  margin: 5px 30px 4px 30px;
}

*/